.dark-mode {
  color: white;
  background-color: black;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out; /* Adjusted transition property */
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: color 0.3s ease-in-out; /* Adjusted transition property */
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

/* Removed duplicate styles for hamburger icon spans */

.main-content {
  text-align: center;
  margin: 0 auto;
}

.usp-heading {
  position: absolute;
  top: 42vh;
  left: 22vh;
  text-align: left;
}

.usp-heading h1 {
  font-family: "Mogra", system-ui;
  font-size: 3rem;
  background-image: linear-gradient(
    to right,
    #d8272a 0%,
    #4285f4 50%,
    #611fbd 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-buttons {
  display: flex;
  gap: 1rem;
  padding-top: 2vh;
}

button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #4285f4;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
  border: none;
}

button:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #d8272a;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

button:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
  transform: translateY(0.2rem);
}

button:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

button span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 18px 25px;
  color: #fff;
  font-size: 1.3em;
  font-weight: 700;
  letter-spacing: 0.3em;
  z-index: 20;
  transition: color 0.3s ease-in-out; /* Adjusted transition property */
}

button:hover span {
  color: #183153;
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}
