nav {
  justify-content: space-between;
  align-items: center;
  height: 7vh;
  padding: 0 4vw;
  position: relative;
  /* TODO: find better alternatives for blur shadow, this doesn't work */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

nav::after {
  content: "";
  position: absolute;
  top: 6.8vh;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(to right, #d8272a 0%, #4285f4 50%, #611fbd 100%);
}

nav,
.nav-links {
  display: flex;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: #4285f4;
  text-decoration: underline;
  text-underline-offset: 1rem;
}

.logo {
  font-size: 2rem;
  span:hover {
    color: white;
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
}
