.center-container-receiver {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(93vh - 7vh); /* Adjust based on Navbar height */
  font-family: "Montserrat", sans-serif;
  .receiver-connect-btn {
    padding: 0.5rem;
    color: white;
    background-color: #6528f7;
    height: auto;
    font-size: 1rem;
    overflow: hidden;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
  }
}
.receiver-connected-animation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.receiver-connect-btn button:hover {
  background-color: #66ff00;
  color: #000000;
}

.entryarea {
  position: relative;
  height: 80px;
  width: 500px;
  line-height: 50px;
  input {
    position: absolute;
    width: 100%;
    outline: none;
    font-size: 2.2em;
    padding: 0 30px;
    line-height: 50px;
    border-radius: 10px;
    border: 2px solid #f0ffff;
    background: transparent;
    transition: 0.1s ease;
    z-index: 1111;
  }
}

.Labelline {
  position: absolute;
  font-size: 1.6em;
  color: #feffff;
  padding: 0 10px;
  margin: 0 20px;
  background-color: #000000;
  transition: 0.2s ease;
}

.entryarea input:focus,
.entryarea input:valid {
  color: #66ff00;
  border: 4px solid #66ff00;
}

.entryarea input:focus + .Labelline,
.entryarea input:valid + .Labelline {
  color: #66ff00;
  height: 30px;
  line-height: 30px;
  padding: e 12px;
  transform: translate(-15px, -16px) scale(0.88);
  z-index: 1111;
}
