.drop-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 175px;
}

.dropzone {
  width: 300px; /* Set your desired width */
  height: 200px; /* Set your desired height */
  border: 2px dashed #ccc;
  border-radius: 5px;
  display: flex;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* Center horizontally */
  margin-top: 50px; /* Adjust top margin as needed */
}

.dropzone h1 {
  margin: 10px 0;
  text-align: center; /* Center text horizontally */
}

.uploads {
  margin-top: 200px; /* Adjust top margin as needed */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.actions {
  display: flex; /* Display buttons as flex items */
  margin-top: 20px; /* Adjust top margin as needed */
  justify-content: center; /* Center buttons horizontally */
}

.actions button {
  margin: 0 10px; /* Adjust button spacing */
  padding: 10px; /* Adjust button padding */
}

.select-file-btn {
  padding: 10px;
}
/* for btn border effect-> todo: create a div with slight larger size than button, then put gradient on div 👌 */
